{% extends 'base/base.html' %}
{% block nav %}
    {% include 'base/navbar.html' %}
{% endblock nav %}

{% block content%}
<div class="content">
    <div class="row align-items-center">
        <div class="col-lg-4 col-sm-12 offset-lg-4 p-4 target mt-5 ">
            <h2>Recuperar contraseña</h2>

            <form class="form-block m-2" action="" method="POST">
                {% csrf_token %}
                <label for="id_email">Email: </label>
                {{form.email}}
                <input class="btn btn-primary" type="submit" value="enviar">
            </form>
        </div>
    </div>
</div>

{% endblock %}