{% extends 'base/base.html' %}
{% block head %}
<title>Inicio</title>
{% endblock %}
  
{% load static %}
{% block nav %}
    {% include 'base/navbar.html' %}
{% endblock nav %}


{% block content %}
    <div class="container mt-2 mb-2">
        <div class="row">
            <div class=" d-none d-lg-block d-md-none target p-2" style="position: fixed; width: 19%; height: auto;">
                <div class="media">
                    <div class="media-body">
                        {% include 'advertising/max_pub.html' %}
                    </div>
                </div>
                <div class="media pt-4 pb-2">
                    <div class="media-body">
                        {% include 'advertising/min_pub.html' %}
                    </div>
                </div>
                <form class="form-block text-center" action="">
                    <a class="m-2"  href="{% url 'contact' %}">Tu Publicidad en TRATO HECHO</a>
                </form>
                <p class="mt-2 mb-2 text-muted text-center">&copy; Municipalidad de Tinogasta <script>document.write(new Date().getFullYear());</script></p>
            </div>
            <div class="col-sm-12 d-lg-none d-md-block">
                <div class="media pt-2 pb-2">
                    <div class="media-body">
                        {% include 'advertising/max_pub_2.html' %}
                    </div>
                </div>
            </div>
              {% for service  in service %}
                {% include 'service/service_card.html' %}
              {% endfor %}
            <div class="col-sm-12 d-lg-none d-md-block">
                <div class="media pt-2 pb-2">
                    <div class="media-body">
                        {% include 'advertising/min_pub_2.html' %}
                    </div>
                </div>
                <form class="form-block text-center" action="">
                    <a class="m-2"  href="{% url 'contact' %}">Tu Publicidad en TRATO HECHO</a>
                </form>
            </div>
        </div>
    </div>




    {% include 'base/paginate.html'%}

{% endblock%}

    