{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            
            {% if messages %}
            {% for messages in messages  %}
            <div class="col pt-3 pb-4">
                <h1>{{messages.title}}</h1>
                <h2>{{messages.author}}</h2>
                <h4>{{messages.body}}</h4>
            </div>
            {% endfor %}
            {% else %}
            <h4>no hay mensajes</h4>
            {% endif %}
            
              
        </div>
    </div>
{% endblock %}