{% load static %}
<div class="col-lg-4 col-sm-8 offset-md-2 offset-lg-4 mb-3 pt-4 target none{{service.id}}">
    <div class="media">
        {%if request.user.is_authenticated %}
        <a href="{% url 'detail' service.user.username %}">
            <img class="mr-3 rounded-circle" src="{{ service.person.picture.url }}" alt="@{{ service.user.name }}" width="50" height="50">
        </a>
        {% else %}
        <a href="" data-toggle="modal" data-target="#modal-registration">
            <img class="mr-3 rounded-circle" src="{{ service.person.picture.url }}" alt="@{{ service.user.name }}" width="50" height="50">
        </a>
        {% endif %}
        <div class="media-body">
            {%if request.user.is_authenticated %}
            <a href="{% url 'detail' service.user.username %}">
                <h5 class="mt-0">@{{service.user.username}}</h5>
            </a>
            {% else %}
            <a href=""  data-toggle="modal" data-target="#modal-registration">
                <h5 class="mt-0">@{{service.user.username}}</h5>
            </a>
            {% endif %}

            <h6 class="ml-0 mt-1">{{service.title}}</h6>
        </div>
        
        {% if service.facebook_url %}
        <a href="{{service.facebook_url}}"  class="mb-3 float-right">
            <img src="{% static 'img/facebook.png' %}" alt="" width="30" height="30" class="color-expand">
        </a>
        {% endif %}
    <!--container 
    <div class="col-12" style="position: absolute;">
        <div class="loader" style="position: absolute;width: 20px;">Loading...</div>
    </div>
    loader-->
                               
    </div>
    {% if service.picture_logo %}
    <a href="" data-toggle="modal" data-target="#modal{{service.id}}">
        <img class="img-fluid mt-3 border rounded img-aparece" src="{{ service.picture_logo.url }}" alt="{{ service.title }}" style="width: 100%; height: auto;">
    </a>
    <span class="badge badge-primary">{{service.category}}</span>
    {% endif %}
    <p class="mt-1 mb-0 text-primary">{{service.description}}</p>
    <form class="form-inline">
        {% if service.direction %}
        <img src="{% static 'img/sitio.png'%}" alt="" width="20" height="20" class=" mr-2"><p class="mt-0 mb-1 text-secondary">{{service.direction}}</p>
        {% endif %}
    </form>
    <span class="badge ml-0 mt-0">{{service.created}}</span>
    <div class="mt-0 mb-3">
        <hr>
        <!--
        <form class="form-inline" action="{% url 'like' %}" method="POST" >
            {% csrf_token %}
            <input type="hidden" name='{{service.id}}' value="{{service.id}}">
            
            {% if service.user not in service.liked.all %}
                <button class="btn" type="submit"><img src="{% static 'img/estrella.png' %}" alt="" width="35" height="35" class="color-expand"></button>
            {% else %}
                <button class="btn" type="submit"><img src="{% static 'img/estrella.png' %}" alt="" width="35" height="35"></button>
            {% endif %}
            <span class="badge badge-pill mb-1 p-1 text-light d-inline mt-2" style="background-color: rgb(255, 192, 31);">{{service.liked.all.count}} Estrellas</span>
        </form>
        -->
        {%if request.user.is_authenticated %}
        <a type="button" class="like" name="{{service.id}}"><img src="{% static 'img/estrella.png' %}" alt="" width="30" height="30"class="color-expand mb-1 mr-2"></a>
        {% else %}
        <a type="button"  data-toggle="modal" data-target="#modal-registration"><img src="{% static 'img/estrella.png' %}" alt="" width="30" height="30"class="color-expand mb-1 mr-2"></a>
        {% endif%}
        <span class="badge badge-pill mb-2 p-2 text-light d-inline mt-0" style="background-color: rgb(255, 192, 31);"><strong id ='service{{service.id}}'>{{service.liked.all.count}}</strong> Estrellas</span>
        
        {% if service.user == request.user %}
        <a type="button" class="mb-3 float-right ml-3 eliminar" name='{{service.id}}'>
            <img src="{% static 'img/eliminar.png' %}" alt="" width="30" height="30" class="color-expand">
        </a>
        {% endif %}
    </div>
</div>
{% include 'service/image_modal.html' %}
{% include 'service/modal_delete.html' %}

{% block js %}
<script>
</script>
    
{% endblock js %}

    