<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block head %}
    <title>Trato hecho | Tinogasta</title>
  {% endblock %}
  
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <script data-ad-client="ca-pub-3715716798404343" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body class="body">
  <!-- Facebook -->
  {% block nav %}
  {% endblock nav%}

  {% block content %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  
  {% block js %}
  {% endblock js %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
      //liked
      $('body').on('click', '.like',function(event){
        event.preventDefault();
        $.ajax({
        type: "POST",
        url: "{% url 'like' %}",
        data: {'service_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        cache:false,
        beforeSend:function(){
              var audio_star = "{% static 'sound/sound_coin.mp3' %}";
              var sonido = new Audio(audio_star);
              sonido.play();
            },
        success: function(response) {
           //alert(' likes count is now ' + response.likes_count);
           var count = "";
           count+= response.likes_count;
           var id = response.service_pk;
           

           $("#service"+id).html(count);

        },
        error: function(rs, e) {
            alert(rs.responseText+ "error");
          },
        });

      });
      //delete
      $('body').on('click','.eliminar',function(){
        //event.preventDefault();
        id = $(this);
        $("#modal-delete").modal("show");
              $("#form-delete").on("click","input", function(){
                res = false;
                valor = $(this).val();
                if (valor == "Sí, eliminar") {
                  console.log(valor);
                  $("#modal-delete").modal("hide");
                  function ajax_delete(){
                    $.ajax({
                      type: "POST",
                      url: "{% url 'delete' %}",
                      data: {'service_id': id.attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                      dataType: "json",
                      beforeSend:function(){

                        return true;
                      },
                      success: function(response) {

                        //console.log("method success");
                        var id = response.service_pk;
                        $(".none"+id).addClass("graysacale");
                        $(".none"+id).hide(1000);
                      }//end success

                        }).always(function(){
                    
                      })
                  };
                  ajax_delete();

                }else{
                  $("#modal-delete").modal("hide");
                };
              });
         
        //$("#list_json").text("");
        //ListService();
      });

      $(document).ready(function(){
        $("#sound_wsp").click(function(){
          console.log("funcion wsp");
            var audio_msj = "{% static 'sound/tono-mensaje.mp3' %}";
            var sonido = new Audio(audio_msj);
            sonido.play();
        });
      });
  </script>
</body>
</html>