<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block head %}
    <title>Trato hecho | Tinogasta</title>
  {% endblock %}
  
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>
<body class="body">
  <!-- Facebook -->
  {% block nav %}
  {% endblock nav%}

  {% block content %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  
  {% block js %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    $('.like').click(function(){
    $.ajax({
       type: "POST",
       url: "{% url 'like' %}",
       data: {'service_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
       dataType: "json",
       success: function(response) {
           //alert(' likes count is now ' + response.likes_count);
           var count = "";
           count+= response.likes_count;
           var id = response.service_pk;

           $("#service"+id).html(count);

       },
       error: function(rs, e) {
            alert(rs.responseText+ "error");
       },
    });
 })

 $('.eliminar').click(function(){

  if(confirm("¿Estás seguro de eliminar esté servicio?")){
        $.ajax({
        type: "POST",
        url: "{% url 'delete' %}",
        data: {'service_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
            alert('servicio eliminado de '+response.user + " "+ response.title);
            var id = response.title;
            $("#none"+id).hide(1000)

        },
        error: function(rs, e) {
              alert(rs.responseText+ "error");
        },
        });
    }
    else{
        return false;
    }
});


</script>

  {% endblock js %}
    

</body>
</html>