{% load static %}
<nav class="navbar navbar-expand-lg  navbar-dark bg-primary sticky-top">
    <div class="container">
      <a href="{%url 'index'%}" class="navbar-brand"><img class="mr-2" src="{% static 'img/contacto.png' %}" alt="" style="width: 30px; height: auto;">TRATO HECHO</a> 
        

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto ">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list' %}">Inicio</a>
          </li>
          <li class="nav dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'search_category' 'Compras y Shopping'%}">Compras y Shopping</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Informática y Electrónica'%}">Informática y Electrónica</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Construcción y Contratistas'%}">Construcción y Contratistas</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Deportes y Recreacción'%}">Deportes y Recreacción</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Educación'%}">Educación</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Hogar y Jardin'%}">Hogar y Jardin</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Industria y Agricultura'%}">Industria y Agricultura</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Medios de Comunicación'%}">Medios de Comunicación</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Servicios Profecionales'%}">Servicios Profecionales</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Ropa y Accesorios'%}">Ropa y Accesorios</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Salud y Medicina'%}">Salud y Medicina</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Servicios Legales y Financieros'%}">Servicios Legales y Financieros</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Viajes y Trasportes'%}">Viajes y Trasportes</a>
              <a class="dropdown-item" href="{% url 'search_category' 'Gastronomia'%}">Gastronomia</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">Publicar</a>
          </li>
          <img class="d-none d-md-block d-lg-block" src="{% static 'img/anunciar.png' %}" alt="" width="35" height="35">
        {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
        {% if user.is_authenticated %}
        <a href="{% url 'detail' request.user.username %}">
          {% if request.user.person.picture %}
            <img src="{{request.user.person.picture.url}}" alt="imagen" class="rounded-circle mr-4 ml-4 d-none d-md-block d-lg-block" height="50px" width="50px">
          {% else %}
            <img src="{% static 'img/cuenta.png' %}" alt="imagen" class="rounded-circle mr-4 ml-4" height="50px" width="50px">
          {% endif %}
          </a>
          <div class="btn-group float-sm-right">
            <a href="{% url 'detail' request.user.username %}" class="btn btn-outline-secondary btn-sm">{{request.user.username}}</a>
            <a href="#" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu pl-3">
              <li><a href="{% url 'detail' request.user.username %}">Mi perfil</a></li>
              <li><a href="{% url 'log_out'%}">Salir</a></li>
            </ul>
          </div>
        {% else %}
          <a class="nav-item float-lg-right btn btn-outline-success mr-2" href="{%url 'sign_up'%}">Registrate</a>
          <a class="nav-item float-lg-right btn btn-outline-success mr-2" href="{%url 'log_in'%}">Ingresar</a>
        {% endif %}
      </form>
      </div>
    </div>
  </nav>

    