{% extends 'base/base.html' %}
{% load static %}
{% block nav %}
  {% include 'base/navbar.html' %}
{% endblock %}
  

{% block content %}

<div class="container-fluid work">
  <div class="row justify-content-md-center" style="height: 350px;">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-6 mt-2 col-sm-12">
          <h2 class="mt-2 mt-lg-4 mb-4 text-light text-center"></h2>
          <h4 class="text-light mb-3 font-italic ">
            ¡Encuentra clientes que te requieran de una manera sencilla y totalmente gratis! 
            ¡Si tenés un oficio o quieres promocionar tus productos, podés publicarlo en este espacio diseñado para vos!
          </h4>
          <h4 class="text-light font-italic">
            ¿Necesitas emplear un servicio y no sabes dónde buscar? 
            ¡Aquí encontrarás a los mejores por categoría!
          </h4>
        </div>
        <div class="col-lg-6 mt-4 d-none d-lg-block">
          <div class="row justify-content-center">
            <div class="col-8 text-light">
              <form class="form-signin" method="POST" action="{%url 'log_in'%}">
                {% csrf_token %}
                    <div class="form-label-group pt-2">
                      <label for="inputEmail">Nombre de Usuario</label>
                      <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus name="username">
                    </div>
                  
                    <div class="form-label-group pt-2 pb-2">
                      <label for="inputPassword">Contraseña</label>
                      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required name="password">
                    </div>
                  
                    <div class="checkbox">
                      <label>
                        <p class="pt-2"><a class="text-light" href="{% url 'password_reset' %}">He olvidado mi contraseña y nombre de usuario</a></p>
                      </label>
                    </div>
                    <button class="btn btn-lg btn-outline-secondary btn-block" type="submit">Ingresar</button>
                
                  </form>
                  <div class="pt-4">
                    <a class="text-light" href="{% url 'sign_up' %}">¿Todavía no tienes una cuenta? Regístrate ahora.</a>
                  </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<section>
  <hr>
  <div class="text-center m-4">
    <h3>Ultimas Publicaciones</h3>
  </div>
  <div id="list-index" class="row justify-content-center">

  </div>
</section>

<div class="text-center pt-3">
  <a href="{% url 'list' %}" class="btn btn-primary">Ver más Publicaciones</a>
</div>

<div class="container-fluid" style="background-color: rgb(17, 134, 163);">
<div class="row mt-5 pt-5 pb-5">
  <div class="col-lg-4 col-sm-12 text-center mb-2 mt-2">
    <h3 style="color: white;">Trato Hecho</h3>
    <img class="mr-2" src="{% static 'img/contacto.png' %}" alt="" style="width: 100px; height: auto;">
  </div>
  <div class="col-lg-4 col-sm-12 text-center mb-2 mt-2">
    <h3 style="color: white;">Municipalidad de Tinogasta</h3>
    <img class="mr-2" src="{% static 'img/muni.png' %}" alt="" style="width: 100px; height: auto;">
  </div>
  <div class="col-lg-4 col-sm-12 text-center mb-2 mt-2">
    <h3 style="color: white;">Secretaría de Desarrollo Social</h3>
    <img class="mr-2" src="{% static 'img/desarrollo-social.png' %}" alt="" style="width: 100px; height: auto;">
    <form class="form-block pt-2 pb-2" action="">
      <a class="btn btn-outline-secondary m-2"  href="{% url 'contact' %}">Envianos un mensaje</a>
    </form>
  </div>
</div>
</div>



{% endblock%}

{% block footer %}
<!-- Footer -->
<footer class="site-footer pt-4 pb-4">
  <div class="container">
    <div class="row pt-2 mt-5 text-center text-light">
      <div class="col-md-12">
        <p>
        Copyright&copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  Municipalidad de Tinogasta
        </p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}


{% block js %}
  <script>
      $(document).ready(function() {
        $(".img-aparece").fadeIn(2000);

        $.ajax({
          type:"get",
          url: "{% url 'list_index' %}",
          data: $(this).serialize(),
          dataType: "json",
          cache:false,
          success: function(response){
            console.log(response);
            var htmlIndex;
            var url_facebook = "{% static 'img/facebook.png' %}";
            var sitio = "{% static 'img/sitio.png'%}";
            var estrella = "{% static 'img/estrella.png' %}";
            var eliminar = "{% static 'img/eliminar.png' %}";

            $.each(response, function(index,element){
              if (element.user == element.request_user) {
                var elim = '<a type="button" class="mb-3 float-right ml-3 eliminar" name="'+element.id+'"><img src="'+eliminar+'" alt="" width="30" height="30" class="color-expand"></a>';
              }else{
                elim = "";
              };
              if (element.facebook_url != null) {
                facebook = '<a href="'+element.facebook_url+'"  class="mb-3 float-right"><img src="'+url_facebook+'" alt="" width="30" height="30" class="color-expand"><a/>';
              }else{
                facebook = "";
              };
              if (element.direction != null) {
                directions = '<img src="'+sitio+'" alt="" width="20" height="20" class=" mr-2"><p class="mt-0 mb-1 text-secondary">'+element.direction+'</p></form>';
              }else{
                directions = '<img src="'+sitio+'" alt="" width="20" height="20" class="d-none mr-2"><p class="mt-0 mb-1 text-secondary"></p></form>';
              };

              if (element.picture_logo != 0){
                pictures = '<p class="mt-1 mb-0 text-primary">'+element.description+'</p><img class="img-fluid mt-3 border rounded" src="'+element.picture_logo+'" alt="'+element.title+'">'
              }else{
                pictures= '<div id="text'+element.id+'" class="image-trato text-center p-3 m-2"><h5 id="p'+element.id+'" class="h2" >'+element.description+'</h5></div>'
              };
              
              htmlIndex = '<div class="target col-lg-3 col-md-3 col-sm-12 p-3 m-2 none'+element.id+'" style="max-width: 20rem;">',
              htmlIndex += '<div class="media">';
              htmlIndex +='<img class="mr-3 rounded-circle" src="'+element.picture+'" alt="'+element.user+'" width="50" height="50">',
              htmlIndex +='<div class="media-body">',
              htmlIndex +='<h5 class="mt-0">@'+element.user+'</h5>',
              htmlIndex +='</div>',
              htmlIndex += facebook,
              htmlIndex +='</div>',
              htmlIndex += pictures,
              htmlIndex +='',
              htmlIndex +='<div id="images'+element.id+'" class="row">',
              htmlIndex +='</div>'
              htmlIndex +='<span class="badge badge-primary">'+element.category+'</span>',
              htmlIndex +=directions,
              htmlIndex +='<span class="badge ml-0 mt-0">'+element.created+'</span>',
              htmlIndex +='<div class="mt-0 mb-3">',
              htmlIndex +='</div>',
              htmlIndex +='</div>',
              htmlIndex +='</div>';
              $("#list-index").append(htmlIndex);
            })//end each
          }//end success
      });//end ajax

      });
  </script>
{% endblock js %}
  