{% extends "base/base.html" %}
{% block nav %}
    {% include 'base/navbar.html' %}
{% endblock nav %}

{% load static %}

{% block content %}
<div class="container pt-4 pb-4">
    <div class="row align-items-center">
        <div class="col-lg-4 offset-lg-4 pt-4 target">
            <form class="form-signin" method="POST" action="{%url 'log_in'%}">
            {% csrf_token %}
                <div class="text-center mb-4">
                  <!--
                  <a href="{%url 'index'%}">
                    <img class="mb-4" src="{%static 'img/saludo.png'%}" alt="" width="75" height="75">
                  </a>
                  -->
                  <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
                </div>
                {% if messages %}
                {% for message in messages%}
                <div class="text-center">
                    <p class="alert alert-danger">{{message}}</p>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-label-group pt-2">
                  <label for="inputEmail">Nombre de Usuario</label>
                  <input type="text" id="inputEmail" class="form-control" placeholder="User address" required autofocus name="username">
                </div>
              
                <div class="form-label-group pt-2 pb-2">
                  <label for="inputPassword">Contraseña</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
                </div>
              
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                <p class="pt-2"><a href="{% url 'password_reset' %}">He olvidado mi contraseña</a></p>
                <p class="mt-5 mb-3 text-muted text-center">&copy; Municipalidad de Tinogasta <script>document.write(new Date().getFullYear());</script></p>
              </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}